---
import { parseHTML } from "linkedom";
import { embedTedVideos, embedYoutubeVideos } from "../lib/content";

export interface Props {
  post: {
    slug: string;
    title: string;
    date: Date;
    categories: string[];
    tags: string[];
    content: string;
  };
}

const { post } = Astro.props;

const { document } = parseHTML(post.content);

document.querySelectorAll("img").forEach((img: any) => {
  const src = img.getAttribute("src");
  img.classList.add("post-img");
  if (src?.includes("/uploads/")) {
    const newPath = "/img/" + src.split("/uploads/")[1];
    img.setAttribute("src", newPath);
  }
});

embedYoutubeVideos(document);

embedTedVideos(document);

const processedContent = document.toString();
---

<article class="mb-10">
  <h2 class="text-2xl font-bold flex justify-between items-center mb-2 px-4">
    <a class="hover:underline" href={`/post/${post.slug}`}>{post.title}</a>
    <span class="text-right text-gray-700 text-sm">
      {post.date.toDateString()}
    </span>
  </h2>
  <!-- post.categories -->
  <div
    class="post-content max-h-[calc(100vh-200px)] overflow-x-auto bg-white px-3 py-2"
    set:html={processedContent}
  />
  <!-- <div class="flex justify-center gap-2 mt-4">
    {post.tags.map((tag) => <span class="px-1 bg-slate-300"> {tag}</span>)}
  </div> -->
</article>

<style>
  .post-img {
    width: 50%;
  }
</style>
